
*{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}

a{
    color:  #11999E;
    text-decoration: none;
    margin: auto 3px auto 0;
}

a:hover{

    color: green;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    margin-top: 20px;
    
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;

}
.top-container{

    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;


}

.learn{
    text-decoration: underline;
    font-weight: normal;
}

.top-cloud{

    position:absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud{

    position: absolute;
    left: 300px;
    bottom: 300px;
}





